html {
    scroll-behavior: smooth;
}

#header {
    z-index: 1000;
    width: 100%;
    border-radius: 0%;
    margin-bottom: 6em;
    color: rgb(82, 44, 13);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#header2 {
    background-color: black;
}

#footer {
    bottom: 0;
    width: 100%;
    border-radius: 0%;
}

.custom-jumbotron {
    background-image: url(../images/bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.best {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.best h1 {
    margin-bottom: 2.5em;
    position: relative;
}

.about {
    min-height: 100vh;
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
}

#about h1 {
    margin-bottom: 1.5em;
    margin-top: 2em;
    position: relative;
}

.custom-card:hover {
    transform: scale(1.2);
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.best h1::after,
.about h1::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 7.5%;
    height: 2px;
    background-color: black;
}

#category {
    margin-top: 3.5em;
}

.floating-button {
    position: fixed;
    bottom: 7%;
    right: 5%;
    z-index: 999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

#detail {
    min-height: 78vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-cat {
    width: 4em;
}


.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.button {
    border: 1px solid #000;
    background: transparent;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 5%;
}

.item {
    padding: 7px 7px;
    min-width: 100px;
    min-height: 50px;
    margin: 4px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.item:hover {
    transform: scale(1.2);
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.category {
    color: #64748b;
    font-size: 10px;
}

.active {
    background-color: #1e293b;
    color: #fff;
}